APP_URL=http://northstar.dev
APP_ENV=local
APP_DEBUG=true
APP_KEY=

# Feature Flags
DS_ENABLE_BLINK=true
DS_ENABLE_RATE_LIMITING=true

# DB_HOST=localhost
# DB_PORT=27017
# DB_USERNAME=
# DB_PASSWORD=
# DB_NAME=userapi
# DB_REPL_SET_NAME=
# DB_AUTH_NAME=admin
# DB_SSL=false

# If we're running behind a load balancer (for example, HAProxy or Fastly), a
# comma-separated list of IP addresses to trust `X-Forwarded-For` headers from.
# TRUSTED_PROXY_IP_ADDRESSES=

DRUPAL_API_URL=http://dev.dosomething.org:8888
DRUPAL_API_USERNAME=username
DRUPAL_API_PASSWORD=password

BLINK_URL=http://blink.dev
BLINK_USERNAME=username
BLINK_PASSWORD=password

GLADIATOR_URL=http://gladiator.dev/api/
GLADIATOR_API_KEY=GladiatorAPIKey

MAIL_DRIVER=mandrill
MANDRILL_SECRET=xxxxxxxxx
MAIL_ADDRESS=noreply@dosomething.org
MAIL_NAME=DoSomething.org

S3_KEY=AMAZONs3SECRETKEY
S3_SECRET=topsecretamazons3string
S3_BUCKET=bucketname

S3_URL=https://s3.example.com

PARSE_APP_ID=ParseAppId
PARSE_API_KEY=ParseAPIKey
PARSE_MASTER_KEY=ParseMasterKey

STATHAT_EZ_KEY=puppet-sloth@example.com
STATHAT_APP_NAME=northstar-dev

FACEBOOK_REDIRECT_URL=https://northstar.dev/facebook/verify
FACEBOOK_APP_SECRET=FacebookSecret
FACEBOOK_APP_ID=FacebookAppId
