$facebook-blue: #4267b2;

.facebook-login {
  background: $facebook-blue;
  text-transform: none;
  margin: $base-spacing / 2 0;

  &:hover, &:active, &:focus {
    background: darken($facebook-blue, 10%);
  }

  @include media($medium) {
    &:before {
      @include icomoon-icon;
      content: "\e600";
      display: inline-block;
      text-decoration: none;
      font-size: 24px;
      vertical-align: middle;
      margin-right: $base-spacing / 2;
      margin-bottom: 4px;
    }
  }
}
