.password-visibility {
  position: relative;

  .password-visibility__toggle {
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: .8em;
    margin-right: $base-spacing / 2;
    user-select: none;
    background-image: url('./eye.svg');

    &:hover {
      cursor: pointer;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 8px;
      margin-top: -4px;
      width: 1px;
      height: 1.5em;
      background: $black;
      transform: rotate(45deg);
    }

    &.-hide:after {
      content: none;
    }
  }
}
