// Overrides that change some of the default style rules defined by Forge Pattern Library.

body, html {
  background: $white;
}

.chrome > .wrapper {
  box-shadow: none;
}

.navigation {
  margin: 0 auto;
  padding: 0 ($base-spacing / 2);
  position: relative;
  top: 5px;

  @include media($tablet) {
    max-width: $container-max-width;
    padding: 0 ($base-spacing / 2);
    top: 30px;
  }
}
